:root {
  --background-color: #303030;
  --block-color: #212121;
  --menu-color: #424242;
  --hover: #ffffff10;
}

::-webkit-scrollbar-track {
  background-color: var(--background-color);
}
::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, .2);
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsla(0, 0%, 100%, .3);
}

html,
body {
  background-color: var(--background-color);
  color: white;
}
.header__menu {
  background-color: var(--menu-color);
}
.header__hover:hover, .footer__hover:hover {
  background-color: var(--hover);
  transition-delay: 50ms;
}

/* terms.html */
.footer__terms {
  background-color: var(--menu-color);
}
.header__terms {
  background-color: var(--block-color);
}