:root {
  --background-color: #303030;
  --block-color: #212121;
  --menu-color: #424242;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, .4);
}
::-webkit-scrollbar-thumb {
  background-color: var(--menu-color);
}

html,
body {
  background-color: var(--background-color);
  color: white;
}
.header__menu {
  background-color: var(--menu-color);
}

/* terms.html */
.footer__terms {
  background-color: var(--menu-color);
}
.header__terms {
  background-color: var(--block-color);
}