@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

:root {
  --title: #616161;
  --hover: #ffffff10;
  --shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);;
}
::selection {
  background-color: #b3d4fc;
  color: #000;
}
::-webkit-scrollbar {
  width: .95rem;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
}

* {
  box-sizing: border-box;
}
html, body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  width: fit-content;
  height: 100%;
}
a {
  text-decoration: inherit;
  color: inherit;
}
.border {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  height: 2.25rem;
  width: 2.25rem;
  margin: .5rem;
}

/* header */
.header,
.header__bot,
.header__icon,
.header__name,
.header__links,
.header__container,
.header__content,
.header__button {
  display: flex;
  align-items: center;
  height: 4rem;
  cursor: pointer;
}
.header {
  font-family: "Roboto", sans-serif;
  padding: 0 1.75rem;
  user-select: none;
  cursor: auto;
  justify-content: space-between;
}
.header__icon {
  margin: 0 .5rem;
}
.header__icon img {
  border-radius: 25px;
  height: 2.5rem;
}
.header__name {
  font-size: 1.25rem;
}
.header__name p span, .footer__name p span {
  font-weight: bold;
}
.header__links {
  cursor: pointer;
  font-size: .85rem;
  text-transform: uppercase;
}
.header__bot {
  margin: 0 .75rem;
}
.header__container {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-radius: 6px;
}
.header__hover:hover, .footer__hover:hover {
  background-color: var(--hover);
  transition-delay: 50ms;
}
.header__shadow {
  box-shadow: var(--shadow);
}
.header__icon-links img {
  height: 1.1rem;
  margin: .25rem;
}
.header__minilog {
  height: 1rem !important;
}
.header__megalog {
  height: 2rem !important;
}
.header__little-log {
  height: .65rem;
}
.header__hr {
  border-left: 1px solid white;
  height: calc(100% - 1rem);
  width: 1px;
  margin: .5rem 0 .5rem 0;
  opacity: .15;
}
.header__column {
  flex-direction: column;
}
.header__active {
  position: relative;
  padding: 0 1rem;
}
.header__menu {
  position: absolute;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 1rem;
  width: 8.5rem;
  right: 0;
  user-select: n;
  transform-origin: right;
}
.header__item {
  padding: .2rem 0;
}
.header__object {
  display: flex;
  align-items: center;
  padding: 0 .65rem;
  height: 3rem;
}
.header__flag {
  display: flex;
  align-items: center;
  min-width: 3.5rem;
}
.header__flag img {
  height: 2rem;
  margin: .25rem;
}
.header__text-flag {
  font-size: .85rem;
}

/* main */
.main {
  display: flex;
  padding: 1rem;
  flex-direction: column;
}

/* footer */
.footer {
  width: 100%;
  border-radius: 6px 6px 0 0;
}
.footer__item {
  margin: 0 83px;
  padding: 1.5rem 0;
}
.footer__content {
  display: flex;
  font-size: .8rem;
  justify-content: center;
}
.footer__container {
  display: flex;
  margin: 0 1rem;
}
.footer__icon {
  display: flex;
  align-items: center;
  user-select: none;
  margin: 0 .5rem;
}
.footer__icon img {
  border-radius: 25px;
  height: 3rem;
}
.footer__name {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.footer__center {
  margin: 0 2rem;
  align-items: center;
}
.footer__container ul a:hover {
  opacity: .7;
}
.footer__container ul {
  list-style-type: none;
  font-size: .95rem;
  line-height: 1.25;
  padding: 0;
}
.footer__padding {
  display: flex;
  border-radius: 25px;
  height: 3.25rem;
  width: 3.25rem;
  justify-content: center;
}
.footer__icon-links {
  user-select: none;
  align-self: center;
}
.footer__icon-links img {
  height: 1.5rem;
  margin: .25rem;
}
.footer__megalog {
  height: 2.5rem !important;
}

/* terms.html */
.main__terms {
  margin: 0 83px;
  padding: 1.5rem;
}
.main__terms h1 {
  font-size: 1.5rem;
  font-weight: 500;
}
.main__terms span {
  font-size: .8rem;
}
.main__title-terms {
  display: flex;
  align-items: center;
  height: 1.5rem;
}
.main__title-terms a {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: .5rem 0;
}
.main__title-terms h3 {
  font-size: 1rem;
}
.main__title-terms img {
  margin: 0 .2rem;
}
.main__text-terms p {
  font-size: .95rem;
  margin: 0 0 1rem;
  line-height: 1.25;
}
.main__text-terms a {
  text-decoration: underline;
}
.main__text-terms ol {
  padding-left: 1.5rem;
}
.main__text-terms [type="a"] {
  margin: 0 0 1rem;
}
.header__terms {
  box-shadow: var(--shadow);
}