@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

:root {
  --title: #616161;
  --hover: #ffffff10;
}

* {
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: inherit;
  color: inherit;
}
/* header */
.header,
.header__bot,
.header__icon,
.header__name,
.header__links,
.header__container,
.header__icon-links,
.header__content {
  display: flex;
  align-items: center;
  height: 4rem;
}
.header {
  padding: 0 1.75rem;
  user-select: none;
  justify-content: space-between;
}
.header__icon {
  margin: 0 .5rem;
}
.header__icon img {
  border-radius: 25px;
  height: 2.5rem;
}
.header__name {
  font-size: 1.25rem;
}
.header__name p span {
  font-weight: bold;
}
.header__links {
  cursor: pointer;
  font-size: .85rem;
  text-transform: uppercase;
}
.header__bot {
  margin: 0 .75rem;
}
.header__container {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-radius: 2.5px;
}
.header__container:hover, .header__padding:hover {
  background-color: var(--hover);
  transition-delay: 50ms
}
.header__icon-links img {
  height: 1.1rem;
}
.header__icon-links img {
  margin: .25rem;
}
.header__padding {
  border-radius: 25px;
  padding: 1.25rem .3rem;
  height: 1.1rem;
  margin: .5rem;
}
.header__minilog {
  height: 1rem !important;
}
.header__megalog {
  height: 2rem !important;
}
.header__little-log {
  height: .65rem;
}
.header__hr {
  border-left: 1px solid white;
  height: calc(100% - 1rem);
  width: 1px;
  margin: .5rem 0 .5rem 0;
  opacity: .15;
}